<ng-container *ngIf="!isLoading">
  <nz-table #table [nzData]="jobs">
    <thead>
      <tr>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobs">
        <td class='title'>{{job.title}}</td>
        <td>
          <div class='action'>
            <button
              (click)="edit(job.id)"
              nz-button nzType="primary"
              title="Edit Job"
            >
              <i nz-icon nzType="form" nzTheme="outline"></i>
            </button>
            <button
              (click)="jobsService.delete(job.id)"
              nz-button nzType="danger"
              title="Delete Job"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
            <button
              *ngIf="job.status === 'open'"
              (click)="jobsService.close(job.id)"
              nz-button nzType="default"
              title="Close Job"
            >
              <i nz-icon nzType="eye-invisible" nzTheme="outline"></i>
            </button>
            <button
              *ngIf="job.status === 'close'"
              (click)="jobsService.open(job.id)"
              nz-button nzType="default"
              title="Open Job"
            >
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>