nz-alert {
    padding-bottom: 20px;
}

.company-image {
    padding-top: 20px;
}

img {
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 6px;
}
