<div>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Job List</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Details
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <div class='loader' *ngIf='isLoading === true'>
    <i nz-icon [nzType]="'loading'"></i>
    Loading...
  </div>
  
  <div class='job' *ngIf="!isLoading && found">
    <div class='avatar'>
      <figure>
        <img src='https://media.licdn.com/dms/image/C4D0BAQHW9Vyrl6r5ZA/company-logo_100_100/0?e=1583366400&v=beta&t=dIDje4n6OZWVhP3-OztB7D3K7XZ0BzmE_KQHA9l8Z6w' />
      </figure>
    </div>
    <div class='info'>
      <a [routerLink]="['/explore/view/', job.id]">
        <h4 nz-title>{{job.title}}</h4>
      </a>
      <p nz-text>{{job.location}}</p>
      <p nz-text>{{job.description}}</p>
      <p nz-text>{{job.timeAgo}}</p>
    </div>
  </div>
  
  <nz-empty
    *ngIf='!isLoading && !found'
    [nzNotFoundContent]="contentTpl"
  >
    <ng-template #contentTpl>
      <span> Job not found, <a href="/">Go Back.</a> </span>
    </ng-template>
  </nz-empty>
</div>
